<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>student marks</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
  <h1>Report page</h1>

  <div class="container mt-5">
    <h4>Rank: {{queryset.first.student.studentReportCard.first.student_rank}} </h4>
    <h4>Total marks: {{total_marks.total_marks}}</h4>
    <h4>Date of Result: {{queryset.first.student.studentReportCard.first.date_of_report_card_generation}} </h4>


    <table class="table table-striped">
      <tbody>
        {% for marks in queryset %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td><b>{{marks.subject.subject_name}}</b></td>
          <td>{{marks.marks}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>  



  </div>
</body>
</html>